html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #FFFFFF;
}

#flashContent {
  width: 100%;
  height: 100%;
}

#htmlMedia {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: hidden;
}

object {
  width: 100%;
  height: 100%;
}

#video1{
  background-color: #FFFFFF;
  width: 640px;
  height: 360px;
}
