
@import url('../../../common/styles/media2.css');

#txt_col1{
	margin-top: 17px !important;
}
#txt_col2{
	margin-top: 30px !important;
}
#txt_col3{
	margin-top: 3px !important;
}
#txt_col4{
	margin-top: 16px !important;
}
#txt_col5{
	margin-top: 17px !important;
}
#MCTable_title{
	margin-left: 46px !important;
}