@import url('../../../common/styles/media2.css');

#ID_trans01 {
	height: 52px !important;	padding-top: 20px;
}
#ID_trans02 {
	height: 52px !important;
	padding-top: 20px;
}
#ID_trans03 {
	height: 52px !important;
	padding-top: 20px;
}