@import url('../../../common/styles/media2.css');

#ID_trans01{
	height: 120.4px !important;
}

#ID_trans02{
	height: 70.85px !important;
}

#ID_trans03,#ID_trans05,#ID_trans06{
	height: 45.9px !important;
}

#ID_trans04{
	height: 65.95px !important;
}

